<nav id="mainNav">
    <a href="#">
        <i class="fas fa-home selected"></i>
    </a>
    <a href="#">
        <i class="fas fa-sort"></i>
    </a>
    <a href="#">
        <i class="fas fa-history"></i>
    </a>
    <a href="#">
        <i class="fas fa-user"></i>
    </a>
</nav>