<header id="protectedHeader">
    <h1>
        <p id="balance">5058.50</p>
        <p>Available Balance</p>
    </h1>
    <section>
        <i class="fas fa-bell"></i>
        <a href="/api/auth/logout" id="profileImage"></a>
    </section>
</header>