<header id="protectedHeader">
    <h1>
        <p id="balance"></p>
        <p>Available Balance</p>
    </h1>
    <section>
        <i class="fas fa-bell"></i>
        <div id="profileImage" onclick="userMenu()">
            <div id="userMenu">
                <a href="/api/auth/logout">Logout</a>
            </div>
        </div>
    </section>
</header>