* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
nav,
main,
article,
section {
    display: block;
}

body {
    background-color: #6E9E06;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.wrapper {
    width: 100%;
    margin-top: 63px;
    height: auto;
}

main {
    background-color: #FFF;
    width: 100%;
    min-height: 70vh;
    border-radius: 50px;
}


/* Sign in and Sign up */

#protectedWrapper {
    display: block;
}

#signInAndUpWrapper header {
    min-height: 20vh;
}

#logo {
    width: 250px;
    height: 250px;
    margin: auto auto;
    background-image: url('../images/logo.png');
    background-position: center;
}


/* Protected */

#protectedWrapper {
    display: none;
}

#protectedWrapper header {
    min-height: 10vh;
}