<!DOCTYPE html>
<html>
<%- include("./partials/head.ejs") %>

    <body>
        <div id="#protectedWrapper">
            <%- include("./partials/protectedHeader.ejs") %>

                <main style="padding-bottom: 200px">
                    <h1 class="heading">Add Expense</h1>
                    <!-- method="post" onsubmit="return check() -->
                    <form id="contact" action="" name="myForm" onsubmit="return check()">
                        <fieldset>
                            <input placeholder="Subject" class="subject" type="text" tabindex="1" name="name" autocomplete="off">
                        </fieldset>
                        <fieldset>
                            <input placeholder="Amount" class="subject" type="number" tabindex="1" name="price" autocomplete="off" min=0>
                        </fieldset>
                        <fieldset>
                            <label>Category:</label><br>
                            <select name="type">
                                <option value="61cc5211538c469076ba64d6">Home</option>
                                <option value="61cc5229538c469076ba64d8">Grocery</option>
                                <option value="61cc5237538c469076ba64da">Hangout</option>
                                <option value="61cc5240538c469076ba64dc">Patrol</option>
                            </select>
                        </fieldset>
                        
                        <fieldset>
                            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending" >Submit</button>
                        </fieldset>
                        <p class="fileError"></p>
                    </form>
                    <section id="content">

                        <div id="transactionsList"></div>

                        <div id="graph"></div>

                    </section>
                </main>

        </div>

        <%- include("./partials/nav.ejs") %>
            <script type="text/javascript" src="/js/scripts.js"></script>
            <script type="text/javascript" src="/js/actions.js"></script>
    </body>

</html>