<!DOCTYPE html>
<html>
<%- include("./partials/head.ejs") %>

    <body>
        <div id="#protectedWrapper">
            <%- include("./partials/protectedHeader.ejs") %>

                <main style="padding-bottom: 150px">
                    <h1 class="heading">Recent Transactions</h1>

                    <section id="categories">
                    </section>
                </main>

        </div>

        <%- include("./partials/nav.ejs") %>
            <script type="text/javascript" src="/js/scripts.js"></script>
            <script type="text/javascript" src="/js/actions.js"></script>
    </body>

</html>