<!DOCTYPE html>
<html>
<%- include("./partials/head.ejs") %>

    <body>
        <div id="#protectedWrapper">
            <%- include("./partials/protectedHeader.ejs") %>

                <main>
                    <h1 class="heading">Recent Transactions</h1>

                    <section id="content">

                        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;" width="100%" height="300px" src="https://charts.mongodb.com/charts-project-0-mmded/embed/charts?id=90f646e2-df89-42c3-8bb1-bf8281488436&maxDataAge=3600&theme=light&filter={'_id': ObjectId()}&autoRefresh=true"></iframe>


                    </section>
                </main>

        </div>

        <%- include("./partials/nav.ejs") %>
            <script type="text/javascript" src="/js/scripts.js"></script>
    </body>

</html>