<!DOCTYPE html>
<html>
<%- include("./partials/head.ejs") %>

    <body>
        <div class="wrapper" id="signInAndUpWrapper">
            <%- include("./partials/header.ejs") %>

                <main>
                    <div class="container" id="signIn">
                        <div class="login-content">
                            <div class="form">
                                <div class="input-div one">
                                    <div class="i">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <div class="div">
                                        <h5>Email</h5>
                                        <input type="email" class="input" id="email">
                                    </div>
                                </div>
                                <div class="input-div pass">
                                    <div class="i">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                    <div class="div">
                                        <h5>Password</h5>
                                        <input type="password" class="input" id="password">
                                    </div>
                                </div>
                                <input type="submit" class="btn" value="Sign in" onclick="handleLogin(document.getElementById('email').value,document.getElementById('password').value)"><br>
                                <p> Don't Have An Account? <a href="http://localhost:8080/logup" id="signNow">Sign Up Now</a></p><br>
                                <a href="#" id="forgotPsw">Forgot Password</a>
                            </div>
                        </div>
                    </div>
                </main>

        </div>
        <script type="text/javascript" src="/js/scripts.js"></script>
    </body>

</html>