.container {
    width: 100vw;
    display: block;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
    margin: 0 auto;
}

.login-content {
    display: flex;
    /* make here flex-start to disable center*/
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form {
    width: 360px;
}

.login-content img {
    height: 100px;
}

.login-content h2 {
    margin: 15px 0;
    color: #333;
    text-transform: uppercase;
    font-size: 2.9rem;
}

.login-content .input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one {
    margin-top: 60px;
}

.i {
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i i {
    transition: .3s;
}

.input-div>div {
    position: relative;
    height: 45px;
}

.input-div>div>h5 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    transition: .3s;
}

.input-div:before,
.input-div:after {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #6E9E06;
    transition: .4s;
}

.input-div:before {
    right: 50%;
}

.input-div:after {
    left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
    width: 50%;
}

.input-div.focus>div>h5 {
    top: -5px;
    font-size: 15px;
}

.input-div.focus>.i>i {
    color: #6E9E06;
}

.input-div>div>input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
    font-family: 'poppins', sans-serif;
}

.input-div.pass {
    margin-bottom: 4px;
}

#forgotPsw,
#signInAndUpWrapper p {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    transition: .3s;
}

.alreadyHaveAccount {
    margin-bottom: 40px;
}

#signNow {
    text-decoration: none;
    color: #6E9E06;
    font-size: 0.9rem;
    font-weight: bold;
}

#forgotPsw:hover {
    color: #6E9E06;
}

.btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    /* background-image: linear-gradient(to right, cadetblue, #38d39f, cadetblue); */
    background-color: #6E9E06;
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
}

.btn:hover {
    background-position: right;
}

.enterDesiredBudget {
    margin-top: 25px;
}

.input-div.budget {
    margin-top: 0;
}

@media screen and (max-width: 1050px) {
    .container {
        grid-gap: 5rem;
    }
}

@media screen and (max-width: 1000px) {
    .form {
        width: 290px;
    }
    .login-content h2 {
        font-size: 2.4rem;
        margin: 8px 0;
    }
}

@media screen and (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
    }
    .wave {
        display: none;
    }
    .login-content {
        justify-content: center;
    }
}
/***********************************/
.taskForm {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea,
  button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
  }
  
  #contact {
    padding: 25px;
  }
  
  h1 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  
  fieldset {
    border: medium none;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
  }
  
  
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact input[type="number"],
  #contact select,
  #contact textarea {
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
  }
  
  input, select, option {
      border: 1px solid #ccc;
  }
  
  #contact input[type="text"]:hover,
  #contact input[type="email"]:hover,
  #contact input[type="tel"]:hover,
  #contact input[type="url"]:hover,
  #contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
  }
  
  #contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }
  
  button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #6E9E06;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
  }
  
  button[type="submit"]:hover {
    background: #324233;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  
  button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }
  
  .copyright {
    text-align: center;
  }
  
  #contact input:focus,
  #contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
  }
  
  .radio-list {
    display: flex;
    align-items: left;
    width: 100%;
    margin: 20px;
    gap: 10px;
  }
  
  .radio {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    user-select: none;
  }
  
  .radio-checkmark-box {
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  
  .radio-checkmark {
    min-width: 26px;
    max-width: 26px;
    min-height: 26px;
    max-height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .radio-checkmark.green {
    background-color: green;
  }
  .radio-checkmark.red {
    background-color: red;
  }
  .radio-checkmark.yellow {
    background-color: yellow;
  }
  .radio-checkmark.blue {
    background-color: blue;
  }
  
  .workingTimePerDay, .categoriesTime {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .workingTimePerDay .timeRange {
    margin-top: 10px;
  }
  
  .workingTimePerDay .days, .categories {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px 10px 0 0;
  }
  
  .workingTimePerDay .weekDay {
    font-size: 14px;
    text-align: right;
  }
  
  .categoriesTime .timeOfDay {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .fileError{
    color: red;
  }
  
  
  
  .table-inputs { 
    border-spacing:0; 
    border-collapse:collapse; }
  
  .table-inputs th { 
    padding: 0 0.75rem;
    line-height: 1.75rem; 
    font-weight:normal; 
    font-size:12px; 
    border:1px solid #d2d2d2; }
  
  .table-inputs td { 
    background-color:#fff;
    border:1px solid #d2d2d2;
    padding:0; }
  
  .table-inputs input { 
    border:0; 
    background-color:transparent; 
  } 
  
  .ui-timepicker-container {
      position: absolute;
      overflow: hidden;
      box-sizing: border-box
  }
  
  .ui-timepicker,
  .ui-timepicker-viewport {
      box-sizing: content-box;
      height: 205px;
      display: block;
      margin: 0
  }
  
  .ui-timepicker {
      list-style: none;
      padding: 0 1px;
      text-align: center;
  }
  
  .ui-timepicker-viewport {
      padding: 0;
      overflow: auto;
      overflow-x: hidden
  }
  
  .ui-timepicker-standard {
      font-size: 12px; font-family:sans-serif;
      list-style: none;
      background-color: #fff;
      background-clip: padding-box;
      border-radius: 0 0 3px 3px;
      box-shadow: 0 0 0 .75px #bbb, 2px 1.5px 3px rgba(0,0,0,.16);
      margin: 0; padding:0;
  }
  
  .ui-timepicker-standard a {
    display:block;  
    background:transparent; filter:none; border:none; 
    width:100%;
    text-align: left; 
    border-radius:0;
    font-size: 11.5px;
    padding: 5px 10px; 
    line-height:18px;
    white-space:nowrap;
    text-decoration: none; 
    color:inherit;
  }
  
  .ui-timepicker-standard .ui-state-hover {
      box-shadow:none; 
      border:none; 
      text-decoration: none;
      background-color: #555; 
      color:#fff; 
  }
  
  .ui-timepicker-standard .ui-menu-item {
      margin: 0;
      padding: 0
  }
  
  .ui-timepicker-hidden {
      display: none
  }
  
  .ui-timepicker-no-scrollbar .ui-timepicker {
      border: none
  }
  
  .timerange {
    display: flex;
    justify-content: space-between;
  }
  
  input.timepicker {
    width: 160px;
  }
  
  .subject {
    width: 100%;
  }
  
  