* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
nav,
main,
article,
section {
    display: block;
}

body {
    background-color: #6E9E06;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.wrapper {
    width: 100%;
    height: auto;
}

main {
    background-color: #FFF;
    width: 100%;
    min-height: 70vh;
    border-radius: 50px;
}


/* Sign in and Sign up */

#signInAndUpWrapper header {
    min-height: 20vh;
}

#logo {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    background-image: url('../images/logo.png');
    background-position: center;
}

/* Protected */

#protectedHeader {
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 32px 18px 32px;
    position: relative;
}

#userMenu {
    position: absolute;
    top: 60px;
    right: -10px;
    width: 95px;
    height: auto;
    background-color: rgb(243, 242, 242);
    z-index: 1;
    border-radius: 10px;
    display: none;
}

#userMenu a {
    color: white;
    padding: 10px;
    background-color: #3c9ee5;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    position: absolute;
    top: 5px;
    left: 5px;
}

#protectedHeader h1 p:nth-child(1) {
    font-size: 28px;
    font-weight: bold;
    color: #FFF;
}

#protectedHeader h1 p:nth-child(2) {
    font-size: 20px;
    font-style: italic;
    font-weight: lighter;
    color: #FFF;
}

#protectedHeader section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#protectedHeader section i {
    font-size: 25px;
    margin-right: 13px;
    color: #FFF;
}

#profileImage {
    display: block;
    background-image: url('../images/no-profile-photo.png');
    height: 40px;
    width: 40px;
}

.heading {
    font-weight: bold;
    font-size: 23px;
    color: #6E9E06;
    margin-left: 42px;
    padding-top: 30px;
}

#mainNav {
    width: 100%;
    background-color: #6E9E06;
    height: 100px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    padding-top: 27px;
    z-index: 10;
}

#mainNav a {
    text-decoration: none;
    color: #FFF;
    font-size: 30px;
}

#mainNav i.selected {
    color: #6E9E06;
    background-color: #FFF;
    padding: 10px;
    border-radius: 100px;
    position: relative;
    bottom: 5px;
}

/* Percentage per category charts */
#categories {
    margin: 30px 42px 0 30px;
}

.category {
    display: flex;
    align-items: center;
}

.infoAndExpense {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(201, 199, 199);
}

.categoryInfo p:nth-child(1){
    font-weight: 700;
}

.expense {
    color: #6E9E06;
    font-weight: 700;
}

.categoryInfo p:nth-child(2) {
    color: rgb(201, 199, 199);
}

.single-chart {
  width: 40%;
  justify-content: space-around ;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

iframe {
    position: relative;
}

canvas {
    position: relative;
    z-index: -1;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}
